.head-title{
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #3d4a6e;
    margin: 10px 16px;
}

.btn {
    padding: 10px 36px;
    border: 1px solid #3F51B5;
    border-radius: 4px;
    outline: none;
    background: #03A9FA;
    color: white;
    font-size: 16px;
    margin-left: 10px;
}

.btn:hover{
    cursor: pointer;
}